<div style="text-align:center">
  <h1>{{title}}</h1>
</div>

<div *ngIf="iamAdmin">

<h1>Status and mode management</h1>

<h2>Timekeeper</h2>

<div *ngIf="tk">{{tk.lastUpdate | date: 'yyyy-MM-dd HH:mm:ss ZZZZ'}}<div>

<h4>Mode</h4>

<div *ngIf="tk">
  <span *ngFor="let i of tk_enabled_values" class="tooltip">
    <input type="radio" name="enabled" id="tk_enabled" [value]="i"
     [checked]="i == tk.enabled" (change)="timekeeper_enabled(i)">{{i}}
     <span class="tooltiptext">{{enabledDescrTbl[i]}}</span>
  </span>
</div>

<h4>State</h4>

<div *ngIf="tk">
  <span *ngFor="let i of tk_state_values" class="tooltip">
    <input type="radio" name="state" id="tk_state" [value]="i"
     [checked]="i == tk.state" (change)="timekeeper_state(i)">{{i}}
    <span class="tooltiptext">{{stateDescrTbl[i]}}</span>
  </span>
</div>

<h4>Round</h4>

<div *ngIf="tk">
  <span *ngFor="let i of tk_round_values" class="tooltip">
    <input type="radio" name="round" id="tk_round" [value]="i"
     [checked]="i == tk.round" (change)="timekeeper_round(i)">{{i}}
     <span class="tooltiptext">{{roundDescrTbl[i]}}</span>
  </span>
</div>


<h2>Test mode</h2>

<div *ngIf="testModeIsDefined()">
  <span class="tooltip">
    <input type="radio" name="test_mode" id="tm_state" #tm0 [value]="0"
      [checked]="false == testMode" (change)="setTestMode(false)">False
    <span class="tooltiptext">コンテスト本番モード</span>
  </span>
  <span class="tooltip">
    <input type="radio" name="test_mode" id="tm_state" #tm1 [value]="1"
      [checked]="true == testMode" (change)="setTestMode(true)">True
      <span class="tooltiptext">テストモード</span>
  </span>
</div>


<h2>View score mode</h2>

<div *ngIf="viewScoreModeIsDefined()">
  <span class="tooltip">
    <input type="radio" name="view_score_mode" id="vsm_state" #vsm0 [value]="0"
      [checked]="false == viewScoreMode" (change)="setViewScoreMode(false)">False
    <span class="tooltiptext">スコア表示を禁止</span>
  </span>
  <span class="tooltip">
    <input type="radio" name="view_score_mode" id="vsm_state" #vsm1 [value]="1"
      [checked]="true == viewScoreMode" (change)="setViewScoreMode(true)">True
      <span class="tooltiptext">スコア表示を許可</span>
  </span>
</div>


<h2>Log to Datastore</h2>

<div *ngIf="logToDatastoreIsDefined()">
  <span class="tooltip">
    <input type="radio" name="log_to_datastore" id="ltd_state" #ltd0 [value]="0"
      [checked]="false == logToDatastore" (change)="setLogToDatastore(false)">False
    <span class="tooltiptext">Datastoreにログを保存しない(費用削減になるので推奨)</span>
  </span>
  <span class="tooltip">
    <input type="radio" name="log_to_datastore" id="ltd_state" #ltd1 [value]="1"
      [checked]="true == logToDatastore" (change)="setLogToDatastore(true)">True
      <span class="tooltiptext">Datastoreにログを保存する</span>
  </span>
</div>

<hr />

<h1>Q-data, A-data management</h1>

<h2>Admin Q List (get-admin-q-list, delete-admin-q-list, put-admin-q-list)</h2>

<span>CAUTION !!</span>

<span class="tooltip">
  <button title="GET" (click)="getAdminQList($event)">get</button>
  <span class="tooltiptext">ctrl + shift + click to show full description</span>
</span>

<span class="tooltip">
  <button title="DELETE" (click)="deleteAdminQList($event)">delete</button>
  <span class="tooltiptext">Alt + ctrl + shift + click to delete Q list</span>
</span>

<span class="tooltip">
  <button title="PUT" (click)="putAdminQList($event)">put</button>
  <span class="tooltiptext">shift + click to create Q list</span>
</span>

<div *ngIf="adminQListText" class="msg">
{{adminQListText}}
</div>


<h2>Admin Q data (get-admin-q-all, delete-admin-q-all)</h2>

<span>CAUTION !!</span>

<span class="tooltip">
  <button title="GET" (click)="getAdminQAll($event)">get</button>
  <span class="tooltiptext">ctrl + shift + click to show all Q data</span>
</span>

<span class="tooltip">
  <button title="DELETE" (click)="deleteAdminQAll($event)">delete</button>
  <span class="tooltiptext">Alt + ctrl + shift + click to delete all Q data</span>
</span>

<div *ngIf="adminQAll" class="msg">
{{adminQAll['msg']}}
</div>


<h2>Admin A data</h2>

<span>CAUTION !!</span>

<span class="tooltip">
  <button title="GET" (click)="getAdminAAll($event)">get</button>
  <span class="tooltiptext">ctrl + shift + click to show all A data</span>
</span>

<span class="tooltip">
  <button title="DELETE" (click)="deleteAdminAAll($event)">delete</button>
  <span class="tooltiptext">Alt + ctrl + shift + click to delete all A data</span>
</span>

<div *ngIf="adminAAll" class="msg">
{{adminAAll['msg']}}
</div>

<hr />

<h1>User account management</h1>

<h2>Get user list</h2>

<span class="tooltip">
  <button title="GET" (click)="getUserList($event)">get</button>
  <span class="tooltiptext">click to show user list</span>
</span>

<div *ngIf="userInfoList">
  <table>
    <tr>
      <th></th>
      <th>team name</th>
      <th>displayname</th>
      <th>uid</th>
      <th>gid</th>
    </tr>
    <tr *ngFor="let v of userInfoList_sort(); let i = index">
      <td><input type="checkbox" name="user{{i}}" [(ngModel)]="v.selected" [value]="v.username"></td>
      <td>{{v.username}}</td>
      <td>{{v.displayname}}</td>
      <td>{{v.uid}}</td>
      <td>{{v.gid}}</td>
    </tr>
  </table>

  <span class="tooltip">
    <button title="DELETE" (click)="deleteCheckedUsers($event)">delete users</button>
    <span class="tooltiptext">Alt + ctrl + shift + click to delete checked users</span>
  </span>
</div>

<h2>Create users (Upload adcusers.yaml)</h2>
<app-file3 (cleared)="onCleared($event)" #uploadFile [accept_file_type]="'application/x-yaml,.yaml,.yml'"></app-file3>
<button title="Start upload YAML file" (click)="postUsersYamlFile(uploadFile)">Start upload</button>

<div *ngIf="uploadResults" class="msg-view">{{uploadResults}}</div>

</div>  <!-- iamAdmin-->