__pycache__
/doc/build
/venv
*~
CURL_COOKIES
*.no-git.*
*.pyc
/docker/env.conf
/docker/opt_miniconda3.tar.gz
/docker/Miniforge3-Linux-x86_64.sh
/samples/A/*_A.A*.txt
/scripts/dump*.pickle
/scripts/*.xlsx
/server/adcusers.yaml
/server/adc*.log
/server/adcusers_in.2019.py
/work/
