<div style="text-align:center">
  <h1>ADC2019 Arena</h1>
</div>

<h3>Q list</h3>
<div *ngIf="qNumberList && aPosted">
  <table>
    <tr>
      <th>Q</th>
      <th>SIZE</th>
      <th>BLOCK_NUM</th>
      <th>#lines</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let i of qNumberList.qnum_list">
      <td>
        <input *ngIf="aPosted && !aPosted[i]" type="radio" name="pANumber"
         [value]="i" [checked]="i == aNumber" (change)="aNumber = i">
         Q{{i}}
      </td>
      <td>{{qNumberList.cols_list[i-1]}} X {{qNumberList.rows_list[i-1]}}</td>
      <td>{{qNumberList.blocknum_list[i-1]}}</td>
      <td>{{qNumberList.linenum_list[i-1]}}</td>
      <td><button title="download file" (click)="downloadQFile(i)">Download</button></td>
      <td><button title="view file" (click)="viewQFile(i)">View</button></td>
    </tr>
  </table>
</div>
<button title="refresh Q list" (click)="getQNumberList(); getANumberList()">Refresh Q list</button>

<app-file-view [text]="qText" [filename]="qFilename"></app-file-view>

<h3>Upload A</h3>

A number
<input [(ngModel)]="aNumber" placeholder="A number"/>

<app-file2 (cleared)="onCleared($event)" #uploadFile></app-file2>

<button title="Start upload A file" (click)="putAFile(uploadFile)">Start upload A file</button>

<div *ngIf="uploadResults" class="msg-view">{{uploadResults}}</div>
