<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<nav>
  <a routerLink="/file-checker">File Checker</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/my-account">My Account</a>
  <a routerLink="/upload-q">My Q</a>
  <a routerLink="/arena">Arena</a>
  <a routerLink="/score">Score</a>
  <a routerLink="/admin">Admin</a>
  <a routerLink="/edit">Edit</a>
  <a href="{{ url_help }}" target="{{'_blank'}}">Help</a>
</nav>

<app-status-bar></app-status-bar>

<router-outlet></router-outlet>
