rect.block01 {
  fill: red;
  stroke: black;
  stroke-width: 5;
  opacity: 0.5
}


.straight-tetromino {
  fill: #00ffff;
  stroke: #00b4b4;
  stroke-width: 1;
  opacity: 0.5
}

.square-tetromino {
  fill: #fffe45;
  stroke: #b3b230;
  stroke-width: 1;
  opacity: 0.5
}

.T-tetromino {
  fill: #ff00f9;
  stroke: #b300ae;
  stroke-width: 1;
  opacity: 0.5
}

.L-tetromino {
  fill: #ff7c25;
  stroke: #b1561a;
  stroke-width: 1;
  opacity: 0.5
}

.J-tetromino {
  fill: #001ff8;
  stroke: #0015ab;
  stroke-width: 1;
  opacity: 0.5
}

.S-tetromino {  /* skew */
  fill: #00ff44;
  stroke: #00b631;
  stroke-width: 1;
  opacity: 0.5
}

.Z-tetromino {  /* skew */
  fill: #ff000c;
  stroke: #b30008;
  stroke-width: 1;
  opacity: 0.5
}

.monomino {
  fill: #9b9b9b;
  stroke: #5a5a5a;
  stroke-width: 1;
  opacity: 0.5
}


.blank-cell {
  fill: #ffff;
  stroke: #cfcfcf;
  stroke-width: 1;
  opacity: 0.5;
  fill-opacity: 0.0
}

/*
rect {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
  opacity: inherit;
  fill-opacity: inherit
}
*/
